Package: com.romlayvn.shimareborn
Name: ShimaReborn
Version: 1.0.1
Architecture: iphoneos-arm
Description: Force all notifications to Dynamic Island with custom background support. Supports iOS 16-26.
Maintainer: romlayvn
Author: romlayvn
Section: Tweaks
Depends: firmware (>= 16.0), mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker | ws.hbang.alderis