Package: com.34306.shimastyle
Name: ShimaStyle
Version: 1.0.3.6
Architecture: iphoneos-arm
Description: Force all notifications to Dynamic Island with custom background support. Supports iOS 16-26.
Maintainer: Little 34306 , romlayvn
Author: 34306
Section: Tweaks
Depends: firmware (>= 16.0), mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker | ws.hbang.alderis